<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ishank login Page</title>
</head>

<body>
    <div>
        <form action="" method="post">
            <label>USERNAME</label><br>
            <input type="email" name="username" placeholder="Write your username"><br><br>
            <label>PASSWORD</label><br>
            <input type="password" name="password" placeholder="Write your password"><br><br>
            <input type="submit" value="LOGIN"><br><br>
        </form>
    </div>

    <div>
        <form action="/register">
            <label>New Here?</label>
            <input type="submit" value="Register">
        </form>
    </div>
</body>

</html>