<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ishank register page</title>
</head>

<body>
    <div>
        <form method="post">
            <label>NAME:</label><br>
            <input type="text" name="name" id="name"><br><br>
            <label>USERNAME:</label><br>
            <input type="email" name="email" id="email"><br><br>
            <label>PASSWORD:</label><br>
            <input type="password" name="password" id="password"><br><br>
            <input type="submit" value="CREATE USER">
        </form>
    </div>
</body>

</html>